<HEADER>
<TITLE>Getting started with WWW</TITLE>
<NEXTID N="8">
</HEADER>
<BODY>
<H1>Getting Started</H1>
<H2>Q</H2>So where can I find information about
W3? 
<H2>Getting Started using telnet</H2>All the information about W3 is on
ther web.  So you do you get started?
A number of ways.   You can browse
through all that information by just
telnetting to one of the addreses
below, or you can pick up information
using anonymous FTP. If  you want
to use telnet, try some of the following.
(Log in as www if asked for a user
name)
<DL>
<DT><A
NAME=z4 HREF="telnet://info.cern.ch/">telnet info.cern.ch</A>
<DD> (or     telnet
128.141.201.74) The simplest line
mode browser. This server is in Geneva,
 Switzerland.
<DT><A
NAME=z5 HREF="telnet:eies2.njit.edu">telnet eies2.njit.edu</A>
<DD> (or   telnet
128.235.1.43)   Log in as www. A
full-screen browser in New Jersey
Institute of Technology.  USA.
<DT><A
NAME=z6 HREF="telnet://vms.huji.ac.il/">telnet vms.huji.ac.il</A>
<DD> (or   telnet
128.139.4.3). A dual-language Hebrew/English
database, with links to the rest
of the world. The line mode browser,
plus extra features. Log in as www.
Hebrew Uiversity of Jerusalem, Israel.
<DT><A
NAME=z7 HREF="telnet://info.funet.fi/">telnet info.funet.fi</A>
<DD> (or    telnet
128.214.6.100)   Not available when
tested in O29-Oct-92. (FINLAND)
</DL>

<H2>Using FTP</H2>Alternatively, you can pick up some
information in plain text or postscript
form from the anonymous FTP archive
on info.cern.ch.  Just FTP to info.cern.ch
(or 128.141.201.74) and log in as
"anonymous" with for password your
mail address  user@host. <P>
Change directory (cd) to  pub/www/doc,
and see what there is (ls command).<P>
See also:  the <A
NAME=1 HREF="../Bibliography.html">W3 bibliography</A> ,
 <A
NAME=2 HREF="http://info.cern.ch/hypertext/README.html">about W3 distributed code</A> , <A
NAME=3 HREF="../LineMode/Defaults/Distribution.html">using
FTP</A> .
<ADDRESS><A
NAME=0 HREF="http://info.cern.ch./hypertext/TBL_Disclaimer.html">Tim BL</A></BODY>
