<TITLE>NoInternet -- /FAQ</TITLE>
<NEXTID 3>
<H1>No internet connection</H1>You are not on the internet?  You know you aren't because none of
the useual commands are available to you like telnet and ftp. Don't
worry: all is not lost. There are two possibilities.
<H2>If you are on DECnet</H2>If you are on a DECnet, then you can use DECnet versions of the W3
software. You can get infromation from outside the DECnet you are
on so long as somebody somewheer runs a gateway into the internet
ona a machine which is connected to both.
<H2>By mail</H2>If you have electronic mail, then it possible (though slow!) to get
W3 information by mail. try sending a mail to listserv@info.cern.ch
with a line in it saying just<P>
HELP<P>
to get back <A NAME=2 HREF="../MailRobot/Help.html">instructions</A>.  Your mail system must have a mail gataeway
onto internet mail, but hat is quite likely.  You might have to take
the internet address above and ask your friendly system manager how
to convert it into the equivalent mail address on the system you are
using. See more <A NAME=1 HREF="../MailRobot/Overview.html">about the robot</A>.
<DL>
<DT>
</DL>

<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A>