<TITLE>WWW Project Status</TITLE>
<NEXTID 64>
<H1><A NAME=35>Status of ViolaWWW</A></H1>A browser based on the "Viola" hypertext system.  Multifont, neat
buttons. One text window with "clone" facility.  Bookmarks.  History
list. Future enhancements to include graphics and general SGML support.
<DL>
<DT>Author:
<DD><A NAME=27 HREF="../People.html#8"> Pei Wei</A>
<DT>Status:
<DD> Demod at JENC3 (10 May 1992).  Index search facility now in.
Works with monochrome display, and colour.  Beta test source and binary
available.
<DT>Curent release
<DD>920730
<DT>Platforms:
<DD> Requires X11 R4 or later. Binaries available for sun4,
decstation, SGI (15-Jul-92).
<DT>More information:
<DD> The <A NAME=33 HREF="http://info.cern.ch/hypertext/Viola-2.0/README">README file (old)</A> , <A NAME=44 HREF="http://info.cern.ch/hypertext/Viola/Installation.html">Installation instructions</A>
,<A NAME=38 HREF="http://xcf.berkeley.edu/misc/ht/projects/viola/violaWWW/todo.html"> To-Do list</A> ,<A NAME=39 HREF="http://xcf.berkeley.edu/misc/ht/projects/viola/violaWWW/news.html"> News</A> , <A NAME=40 HREF="http://info.cern.ch/hypertext/Viola/Review.html">Review</A> ,  <A NAME=59 HREF="../X11/Overview.html">Notes on X11 browers</A> .
</DL>
