<TITLE>WorldWideWeb source files</TITLE>
<NEXTID 19>
<H1>Source Files</H1>The files mentioned below are those which form part of the<A NAME=0 HREF="../../TheProject.html"> WWW project.</A>
These are divided into common files, and files for each machine. See
also:
<UL>
<LI>Module dependency <A NAME=17 HREF="http://info.cern.ch/hypertext/WWW/Implementation/Browser.draw">diagram</A> (future)
</UL>
<H2><A NAME=common>Common files</A></H2>These files contain machine-independent draft ANSI-C code, or conditional
compilation instructions to select small pieces of code for special
environments. The .h files should be included (or imported) by each
file using the routines in the corresponding .c file.
<DL>
<DT><A NAME=1 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/Implementation/HTAccess.c">HTAccess.c</A> , <A NAME=2 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/HTAccess.h">.h</A>
<DD> This module provides access to a hypertext node, whatever
its source. It provides a device descriptor which can then be used
to read the contents of the node.
<DT><A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/HTParse.c">HTParse.c</A> , <A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/HTParse.h">.h</A>
<DD> Contains routines for parsing, stripping, and simplifying
hypertext addresses. (See also: <A NAME=5 HREF="http://info.cern.ch/hypertext/WWW/hypertext/WWW/Addressing/Addressing.html"> Hypertext Addressing</A> ).
<DT><A NAME=6 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/HTTP.c">HTTP.c</A> , <A NAME=7 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/HTTP.h">.h</A>
<DD> Client access code for HyperText Transfer protocol. (See
also: <A NAME=8 HREF="http://info.cern.ch/hypertext/WWW/hypertext/WWW/Protocols/HTTP.html">HTTP protocol</A> ).
<DT><A NAME=12 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/tcp.h">tcp.h</A>
<DD> A bunch of machine-dependent #include statements and macros
for TCP socket code on any system we can compile on.
<DT><A NAME=9 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/utilities.h">utilities.h</A>
<DD> Macros of general use throughout the project.
<DT><A NAME=11 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/WWW.h">WWW.h</A>
<DD> WWW-specific definitions
</DL>

<H2>Line Mode Browser</H2>
<DL>
<DT>www.c
<DD> The main program for the line mode browser on any machine.
</DL>

<H2><A NAME=next>On the NeXT machine</A></H2>For the NeXT, the project is managed by the Interface Builder. The
source files are listed, and the Makefile generated from, the interface
builder project file:
<DL>
<DT><A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/WorldWideWeb.nib">WorldWideWeb.nib</A>
<DD> Click on this file to launch the interface builder,
if you are running on a NeXT with the directory mounted as a file
system.
</DL>
The following are currently NeXT-specific but could be made common:
<DL>
<DT><A NAME=18 HREF="http://info.cern.ch/hypertext/WWW/NeXT/Implementation/ParseHTML.h">ParseHTML.h</A>
<DD> An HTML parser and outputter.
<DT>HTStyle.m, .h
<DD> Styles: Loading, saving, creating, searching for named.
</DL>
The class files which follow are all accessible through the interface
builder file. In brackets is the superclass of which each is a subclass.
<DL>
<DT>Anchor.m, .h
<DD> A management of anchors (Object)
<DT>FileAccess.m ,h
<DD> Local and remote NFS mounted file handler <A NAME=15 HREF="SourceFiles.html#13">(HyperAccess)</A>
<DT>Hypermanager.m, .h
<DD> Protocol maanager, Application delegate. <A NAME=16 HREF="SourceFiles.html#13">(HyperAccess)</A>
<DT>HyperText.m, .h
<DD> Subclass of Text, with anchors and window management.
(Text)
<DT><A NAME=13>HyperAccess.m</A> , .h
<DD> Dummy superclass of access object. (Object)
<DT>NewsAccess.m, .h
<DD> NNTP protocol handler (Object)
<DT>StyleToy.m, .h
<DD> Style manipulation. (Object)
<DT>TcpAccess.m, h
<DD> Protocol handler for HTTP  <A NAME=14 HREF="SourceFiles.html#13">(HyperAccess)</A>
<DT>TextToy.m, .h
<DD> Text manipulation menu items. (Object)
</DL>
The files which follow are generated by the interface builder.
<DL>
<DT>WorldWideWeb_main.m
<DD> The main program.
</DL>
