<HEADER>
<TITLE>HyperText Mark-up Language</TITLE>
<NEXTID N="29">
</HEADER>
<BODY>
<H1><A
NAME=4>HTML</A></H1>The <A
NAME=0 HREF="../TheProject.html">WWW</A> system uses marked-up text
to represent a hypertext document
for transmision over the network.
The hypertext mark-up language is
an <A
NAME=7 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/SGML.html">SGML</A> format. WWW parsers should
ignore tags which they do not understand,
and ignore attributes which they
do not understand of tags which they
do understand.<P>
To find out how to write HTML, or
to write a program to generate it,
read the following sections:-
<DL>
<DT><A
NAME=23 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/Text.html">Default text</A>
<DD> How text is interpreted
when uninfluenced by tags
<DT><A
NAME=2 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/Tags.html">The tags</A>
<DD> A list of the tags used
in HTML with their significance.
<DT><A
NAME=24 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/Entities.html">Entities</A>
<DD> Special characters are represented
by SGML entities
<DT><A
NAME=26 HREF="http://info.cern.ch/MarkUp/html-spec/html.dtd">DTD</A>
<DD> The SGML <A
NAME=27 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/SGML.html#5">document type definition</A>
for HTML.
</DL>
The following do not form part of
the specifciation.
<DL>
<DT><A
NAME=3 HREF="http://info.cern.ch/hypertext/WWW/Test/test.html">Example</A>
<DD> A file containing a variety
of tags used for test purposes.
<!-- and its <A NAME=8 HREF="../Test/test_source.txt">source text</A> -->
See also <A
NAME=22 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/FindingExamples.html">finding
examples on the web</A> .
<DT><A
NAME=19 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/Future.html">Future directions</A>
<DD> Changes suggested
for HTML improvements
<DT><A
NAME=25 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/HTMLConstraints.html">Constraints</A>
<DD> Design constraints for
HTML which might explain some of
its properties.
</DL>
See also
<DL>
<DT><A
NAME=z28 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/Connolly/MarkUp.html">New spec</A>
<DD>As edited by Dan Connolly,
convex. Comments to www-talk@info.cern.ch
please.
<DD></A>
</DL>
</BODY>
