<TITLE>Bibliography -- /WWW</TITLE>
<NEXTID 10>
<H1>World-Wide Web Bibliography</H1>The following lists papers and articles anout the W3 initiative and
related matters which you may want to pick up for background reading
or quote as references.  You can of course also quote any page you
read with w3 by its document address.
<H2><A NAME=6>Introduction to W3</A></H2>T.J. Berners-Lee, R. Cailliau, J-F Groff, B. Pollermann, CERN, "World-Wide
Web: The Information Universe", published in "Electronic Networking:
Research, Applications and Policy", Vol. 2 No 1, pp. 52-58 Spring
1992, Meckler Publishing, Westport, CT, USA.<P>
The global hypertext dream comes true in practice.<P>
Pick up the preprint in postscript form by anonymous FTP to info.cern.ch,
in /pub/www/doc/, filename ENRAP_9202.ps.
<H2>The Whole Internet</H2>Krol, Ed,  "The Whole INTERNET User's Guide and Catalog". Sebastopol
CA, O'Reilly & Associates, 1992.  ISBN=1-56592-025-2. <P>
A book all about using the internet, for professionals but not necessarily
computer professionals.  Has a chapter on WWW specifically, and an
appendix with a list of some resources available on the net.
<H2><A NAME=7>Technical Overview of W3</A></H2>T.J. Berners-Lee, R. Cailliau, J-F Groff, B. Pollermann, CERN, "World-Wide
Web: An Information Infrastructure for High-Energy Phsyics", Presented
at "Articicial Inteligence and Software Engineering for High Energy
Physics"  in La Londe, France, January 1992. Proceedings to be published
by World Scientific, Singapore, ed. D Perret-Gallix.<P>
Aimed at system managers and software engineers. 9 pages. The W3 architecture
diagram, a usage graph, and some examples of hypertext formats, etc.<P>
Pick up the preprint in postscript form by anonymous FTP to info.cern.ch,
in /pub/www/doc/, filename www-for-hep.ps.<P>
(<A NAME=2 HREF="http://info.cern.ch/hypertext/Conferences/AIHEP92/www-for-hep.wn"> Writenow</A> , <A NAME=3 HREF="http://info.cern.ch/hypertext/Conferences/AIHEP92/www-for-hep.ps">postscript</A> )
<H2>Line Mode Browser user guide</H2>A dump of the line mode browser hypertext <A NAME=9 HREF="LineMode/Defaults/QuickGuide.html">user guide</A> into plain text.
Also available in our anonymous FTP archive, to get you started, as
/pub/www/doc/line-mode-guide.txt<P>
(<A NAME=8 HREF="http://info.cern.ch/hypertext/WWW/LineMode/Defaults/line-mode-guide.txt"> plain text</A> )
<H2>The "W3 Book"</H2>If you want technical details, we recommend browsing the web, for
the latest versions of all our thoughts we have had time to type in.
If you want to take it on the plane, then we occasionally dump a part
of the hypertext onto paper. This is the "World-Wide Web Book".  <P>
See the <A NAME=1 HREF="TheW3Book.html">introductory page</A> for contents overview.<P>
Around 50 pages,  cut down to handy A4 size (like your PC documentation!).
Pick it up in postscript or LateX form by anonymous FTP to info.cern.ch
in /pub/www/doc as files the_www_book.ps and the_www_book.tex.
<H2>Universal Document Identifiers</H2>Naming and addressing discussed, UDI proposal. Produced for the March92
IETF. Also an OSI-DS draft. 14 pages. Pick it up in postscript form
or plain ASCII by anonymous FTP from info.cern.ch in /pub/www/doc
as file udi1.ps or udi1.txt.<P>
(postscript, <A NAME=5 HREF="http://info.cern.ch/hypertext/Conferences/IETF92/udi2.txt">plain text</A> , <A NAME=4 HREF="http://info.cern.ch/hypertext/Conferences/IETF92/udi2.wn">writenow</A> )
<H2>W3, WAIS and x500</H2>Discussion of convergence, what W3 needs from the WAIS and x500 protocols.<P>
Also an OSI-DS draft. You can pick it up in postscript form by anonymous
FTP from info.cern.ch in /pub/www/doc as file wais-x500-w3.ps.
<H2>Non-technical articles</H2>
<H3>Electronic publishing and visions of hypertext</H3>Published  in "Physics World", Vol.5 No 6, June 1992. Tim Berners-Lee
discusses the impact of global hypertext on academic publishing.
<H3>The potential of computer networks (title?)</H3>"The Economist", June 20th-26th 1992, by ???. A four-page feature
on the potential of computer networks, mentioning WAIS and WWW. _________________________________________________________________
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A></A>
</ADDRESS>