<TITLE>Bugs -- /WWW</TITLE>
<NEXTID 6>
<H1>Things to be done</H1>There are many of these ...if you have a moment, take your pick! Some
of these would make good projects, or would be a way your organization
could contribute to the building of the web.<P>
There are also special lists of little things to do for each existing
project such as the <A NAME=1 HREF="LineMode/Defaults/Bugs.html">line mode browser</A> , the <A NAME=2 HREF="NeXT/Implementation/Bugs.html">NeXT browser</A> , the common<A NAME=5 HREF="Library/Bugs.html">
library</A> , and the <A NAME=3 HREF="Daemon/Bugs.html">server</A> .
<H2>Client side</H2>
<DL>
<DT>More clients
<DD> Clients exist for many platforms, but not all. Editors
only exist on the NeXT, but will be really useful for sourcing info
and group work. (Group editor?)
<DT>Search engines
<DD> Now the web of data and indexes exists, some really
smart intelligent algorithms ("knowbots?") could run on it.  Recursive
index and link tracing, Just think...
<DT>Text from hypertext
<DD> We need a quick way to print a book from the web.
(A simple method using TeX exists)
</DL>

<H2>Server side</H2>
<DL>
<DT>Server upgrade
<DD> Easier to install, port.  Export directories as hypertext.
Run shell scripts embedded in the directory for virtual documents
and searches.
<DT>More Servers
<DD> See the <A NAME=4 HREF="http://info.cern.ch/hypertext/DataSources/Overview.html">list</A> of things we have thought of or been pointed
to.
<DT>WAIS integration
<DD> WAIS protocol extensions to allow hypertext; HTML
data type, docids to be conforming UDIs. Integrate WAIS in client
too.
<DT>Integrate client and server
<DD> A client which generates HTML becomes
a general purpose gateway. Especially useful for sites where general
access to news, external internet, etc, is limited.
</DL>

<H2>Other software</H2>
<DL>
<DT>Gateways
<DD> JANET and DECnet for example. Real need.
<DT>HTTP enhancements
<DD> Format conversion, authorization, better logging
information for statistics.
<DT>Mail manager
<DD> A hypertext view of a mail archive with lists of messages
by author, topic, with links between messages. A friendly face on
a mail archive would be a great project management tool.
<DT>HTTP enhancements
<DD> Format conversion, authorization, better logging
information for statistics.
<DT>Form processing
<DD> If you can edit hypertext, you edit a hypertext form
and return it.   To be able to submit a form back to the server would
allow  special search patterns, administrative processing, electronic
voting, ...
<DT>Graphic overview
<DD> Display the web from any document in a graphical
form.
</DL>

<H2>Documentation</H2>
<DL>
<DT>Tutorials
<DD> Hypertext leading a new or prospective user through W3.
<DT>Canned demos
<DD> A hypertext path through some good represenattive places
to visit. Maybe a script to make a timed presentation (with sound?).
<DT> Videos
<DD> Would save us giving so many talks!
<DT>Policy documents
<DD>Statements on NIR: collect from institutes, provide
background for organizations making NIR policy decisions.
</DL>
_________________________________________________________________
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A>