<TITLE>Helping -- /WWW</TITLE>
<NEXTID 7>
<H1>How can I help?</H1>There are lots of ways you can help if you are interested in seeing
the <A NAME=4 HREF="TheProject.html">web</A> grow and be even more useful...
<DL>
<DT><A NAME=6 HREF="Provider/Overview.html">Put up some data</A>
<DD> There are many ways of doing this. The web needs
both raw data -- fresh hypertext or old plain text files, or smart
servers giving views of existing databases.  See <A NAME=1 HREF="Provider/Overview.html">more details</A> , <A NAME=3 HREF="Provider/Etiquette.html">etiquette</A>.
<DT>Suggest someone else does
<DD> Maybe you know a system which it would be
neat to have on the web. How about suggesting to the person involved
that they put up a W3 server?
<DT>Manage a subject area
<DD> If you know something of what's going on in
a particular field, organization or country, would you like to keep
up-to-date an overview of online data?
<DT><A NAME=5 HREF="Bugs.html">Write some software</A>
<DD> We have a big list of things to be done. Help
yourself -- all contributions gatefully received! see the <A NAME=2 HREF="Bugs.html">list</A> .
<DT>Send us suggestions
<DD> We love to get mail... www-bug@info.cern.ch
<DT>Tell your friends
<DD> Install/get installed  the client software on your
site. Quote things by their W3 address to allow w3 users to pick them
straight up.
</DL>
_________________________________________________________________
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A></A>
</ADDRESS>