<TITLE>WWW Project History</TITLE>
<NEXTID 25>
<H1>History to date</H1>A few steps to date in the WWW project history are as follows:
<DL>
<DT>March 1989
<DD> First <A NAME=14 HREF="Proposal.html">project proposal</A> written and circulated for comment<A NAME=2 HREF="People.html#BernersLee">
(TBL)</A> .  Paper  "HyperText and CERN" (in <A NAME=15 HREF="http://info.cern.ch/hypertext/WWW/HTandCERN.txt">ASCII</A> or  <A NAME=16 HREF="http://info.cern.ch/hypertext/WWW/HTandCERN.wn">WriteNow</A> format)
produced as background.
<DT>October 1990
<DD> Project <A NAME=10 HREF="Proposal.html">proposal</A> reformulated with encouragement from
CN and ECP divisional management. <A NAME=3 HREF="People.html#Cailliau">RC</A> is co-author.
<DT>November 1990
<DD> Initial WorldWideWeb prototype developed on the NeXT<A NAME=4 HREF="People.html#BernersLee">
(TBL)</A> .
<DT>November 1990
<DD> <A NAME=5 HREF="People.html#Pellow">Nicola Pellow</A> joins and starts work on the line-mode
browser .<A NAME=6 HREF="People.html#Pollermann"> Bernd Pollermann</A> helps get interface to CERNVM "FIND" index
running. TBL gives a <A NAME=7 HREF=news:3199@cernvax.cern.ch>colloquium</A> on hypertext in general.
<DT>Christmas 1990
<DD> Line mode and NeXTStep browsers demonstrable. Acces
is possible to hypertext files, CERNVM "FIND", and internet news articles.
<DT>Febraury 1991
<DD><A NAME=8 HREF="http://info.cern.ch/hypertext/WWW/WorkplanECP-PT.html"> workplan</A> for the purposes of ECP division.
<DT>26 February 1991
<DD><A NAME=9 HREF="Talks/Title.html"> Presentation</A> of the project to the ECP group.
<DT>March 1991
<DD> Line mode browser (www) released to limited audience on
priam vax, rs6000, sun4.
<DT>May 1991
<DD><A NAME=11 HREF="http://info.cern.ch/hypertext/WWW/Administration/AS_WorkPlan_91.html"> Workplan</A> produced for CN/AS group
<DT>17 May 1991
<DD><A NAME=12 HREF="Talks/C5_17_May_91.html"> Presentation</A> to C5 committee. General release of www on
central CERN machines.
<DT>12 June 1991
<DD> CERN <A NAME=13 HREF="Talks/ComputerSeminar.html">Computer Seminar</A> on WWW.
<DT>August 1991
<DD> Files available on the net, posted on alt.hypertext (6,
16, 19th Aug), comp.sys.next (20th), comp.text.sgml and comp.mail.multi-media
(22nd). <A NAME=23 HREF="People.html#Groff">Jean-Francois Groff</A> joins the project.
<DT>October 1991
<DD> VMS/HELP and WAIS gateways installed.  Mailing lists
www-interest (now www-announce) and www-talk@info.cern.ch started.
One year status report.  Anonymous telnet service started.
<DT>December 1991
<DD> Presented poster and demonstration at <A NAME=18 HREF="http://info.cern.ch/hypertext/Conferences/HT91/Overview.html">HT91</A> . W3 browser
installed on VM/CMS.  CERN <A NAME=19 HREF=http://crnvmc/FIND?:cnl+204>computer newsletter</A> announces W3 to the
HEP world.
<DT>15 January 1992
<DD> Line mode browser release 1.1 available by anonymous
FTP. See <A NAME=17 HREF="http://info.cern.ch/hypertext/WWW/News/9101.html">news</A> .  Presentation to AIHEP'92 at La Londe.
<DT>12 February 1992
<DD> Line mode v 1.2 annouced on alt.hypertext, comp.infosystems,
comp.mail.multi-media, cern.sting, comp.archives.admin, and mailing
lists.
<DT>May 1992
<DD> Presentation and <A NAME=20 HREF="http://info.cern.ch/hypertext/Conferences/JENC92/Demonstrations.html#3">demo</A> at <A NAME=21 HREF="http://info.cern.ch/hypertext/Conferences/JENC92/Sessions.html">JENC3</A>  (Innsbruck). <A NAME=22 HREF="People.html#11">Carl Barker</A>
joins the project.
<DT>June 1992
<DD> Presentation and demo at HEPVM (Lyon).
<DT>July 1992
<DD> Distribution of WWW through CernLib, including Viola. WWW
library code ported to DECnet. Report to the Advisory Board on Computing.
<DT>August 1992
<DD><A NAME=24 HREF="IntroCVS.html">introduction of CVS</A> for code management.