<TITLE>Newgroups relevant to the WorldWideWeb project</TITLE>
<NEXTID 13>Some groups which might be of interest to W3 people
<DL>
<DT><A NAME=0 HREF=news:alt.hypertext>alt.hypertext</A>
<DD> The only newsgroup specifically on hypertext, but of
limited distribution becuase of its "alt" status.
<DT><A NAME=6 HREF=news:comp.infosystems>Information systems</A>
<DD> Also, subgroups on <A NAME=7 HREF=news:comp.infosystems.wais>wais</A> , <A NAME=8 HREF=news:comp.infosystems.gopher>gopher</A> .
<DT>Public Access Comp Systems
<DD><A NAME=9 HREF=news:bit.listserv.pacs-l> PACS-L</A> handles also library automation
stuff.
<DT><A NAME=2 HREF=news:comp.archives>comp.archives</A>
<DD> Perhaps a clue as to useful sources of information?
Tends to have a lot you're not interested in.
<DT><A NAME=10 HREF=news:comp.text.sgml>comp.text.sgml</A>
<DD> Standard Generalized Markup Language: technical discussion.
<DT><A NAME=3 HREF=news:cern.sting>cern.sting</A>
<DD> Discussion about software engineering issues at CERN. (The
Software Technology INterest Group).
<DT><A NAME=5 HREF="http://info.cern.ch/hypertext/DataSources/News/news.html#125">news.future</A>
<DD> Future (hypertext?) news extensions
<DT>CWIS
<DD><A NAME=12 HREF=news:bit.listserv.cwis-l>CWIS-L</A> is aboute campus-wide information systems.
<DT>Individual pltforms:
<DD>
</DL>
comp.sys.mac.comm The <A NAME=4 HREF=news:*>complete list</A> of newsgroups is rather long.
(We should break it into bits!). See also: