<HEADER>
<TITLE>WWW Software products</TITLE>
<NEXTID N="71">
</HEADER>
<BODY>
<H1>W3 Software</H1>This is a list of products related
to the <A
NAME=69 HREF="TheProject.html">WWW project</A> with a link to
a status summary of each one.  For
list of previous milestones, releases,
etc, see the "Features" list for
each product, linked to the wish
lists. See also: <A
NAME=56 HREF="http://info.cern.ch/hypertext/README.html">getting the files</A>
.
<DL>
<DT><A
NAME=57 HREF="Library/Status.html">Common Library</A>
<DD> The common code library
is the basis for most browers. It
contains the network access code
and format handling.
</DL>

<H2>Clients</H3>
<DL>
<DT><A
NAME=42 HREF="LineMode/Status.html">Line Mode Browser</A>
<DD> This program gives
W3 readership to anyone with a dumb
terminal. Not as flashy as a windows
implementation, it  covers a wide
class of users who do still not have
window facilities, and is a general
purpose information retrieval tool.
<DT><A
NAME=61 HREF="Curses/Status.html">Curses Browser</A>
<DD> Assumes a character-grid
terminal with cursor addressing,
and provides a full-screen interface
to the web.
<DT><A
NAME=62 HREF="Macintosh/Status.html">Macintosh Browser</A>
<DD> WWW browser for
the Macintosh. (Pre-alpha.)
<DT><A
NAME=36 HREF="Erwise/Status.html">"Erwise"</A>
<DD> WWW browser for X/Motif.
(Unsupported).
<DT><A
NAME=35 HREF="Viola/Status.html">"ViolaWWW" Browser for X11</A>
<DD> WWW browser
for X11. 
<DT><A
NAME=64 HREF="TkWWW/Status.html">tkWWW Browser</A>
<DD> WWW browser for X11.
<DT><A
NAME=60 HREF="MidasWWW/Status.html">MidasWWW</A> Browser
<DD> WWW browser for
X/Motif. 
<DT><A
NAME=wwwnext HREF="NeXT/Status.html">Browser-Editor on the NeXT</A>
<DD> A browser/editor
for NeXTStep. Allows wysiwyg hypertext
editing. 
<DT><A
NAME=65 HREF="VMClient/Status.html">Browser on CERNVM</A>
<DD> A W3 browser for
VM. Nonexistant.
<DT><A
NAME=z70 HREF="FineWWW/Status.html">Tom Fine's Browser</A>
<DD>A tty-based browser
written in perl. (Beta)
</DL>

<H2>Servers</H3>
<DL>
<DT><A
NAME=17 HREF="FIND/Status.html">VM  server</A>
<DD> A server for VM mainframes.
<DT><A
NAME=66 HREF="Daemon/Status.html">Generic server</A>
<DD> A server for unix
and VMS systems. A fast file server
suitbale on-line documentation, and
adaptable to many needs.
<DT><A
NAME=67 HREF="Daemon/VMSGateStatus.html">VMS/Help gateway</A>
<DD> Run son a VMS machine
and allows webc lient eveywhere to
read local VMS/Help files.
<DT><A
NAME=68 HREF="MailRobot/Status.html">Mail Robot</A>
<DD> A server which will returns
documents by mail, given a request
sent by mail. Also manages mailing
lists.</BODY>
