<TITLE>Technical Aspects of the World-Wide Web</TITLE>
<NEXTID 44>
<H1>Technical details</H1>(See also: <A NAME=0 HREF="TheProject.html">W3 project</A> )
<DL>
<DT><A NAME=32 HREF="Provider/Overview.html">How to provide data</A>
<DD> How can I make my own data available on the web?
<DT><A NAME=5 HREF="Protocols/RelevantProtocols.html">Protocols</A>
<DD> A description of the network protocols used.
<DT><A NAME=11 HREF="MarkUp/MarkUp.html">HTML format</A>
<DD> A description of the mark-up language used for some documents
and for search hit-lists.
<DT><A NAME=6 HREF="Addressing/Addressing.html">Addressing</A>
<DD> The syntax of W3 document addresses.
<DT><A NAME=12 HREF="DesignIssues/Overview.html">Design Issues</A>
<DD> Discussions of decisions to be made when designing or
selecting a hypertext/IR system. See also <A NAME=23 HREF="RelatedProducts.html">related products</A> .
<DT><A NAME=16 HREF="WorkingNotes/Overview.html">Working notes</A>
<DD> Work in progress at the drawing board. 
<DT><A NAME=17 HREF="http://info.cern.ch/hypertext/DataSources/ByAccess.html">Data sources</A>
<DD> Sources of data on the web itself, including <A NAME=39 HREF="http://info.cern.ch/hypertext/DataSources/WWW/Servers.html">W3 servers</A>.
<DT><A NAME=7 HREF="Newsgroups.html">News</A>
<DD> Some internet/usenet newsgroups of possible interest to the WorldWideWeb
project.
<DT><A NAME=42 HREF="Notation.html">Notation</A>
<DD> Explanation of notation used in formal descriptions.
<DT><A NAME=43 HREF="DesignIssues/DosDonts.html">Implementation guidelines</A>
<DD> Rules to be followed by implementers.
<DT><A NAME=28 HREF="Project/Coding.html">Coding standards</A>
<DD> A basic style guide for W3 code contributors. If
you write code, read this!</A>
</DL>
