<TITLE>What is Hypertext?</TITLE>
<NEXTID 20>
<H1>What is HyperText</H1>Hypertext is text which is not constrained to be linear.<P>
Hypertext is text which contains <A NAME=0 HREF="Terms.html#link">links</A> to other texts. The term was
coined by <A NAME=1 HREF="Xanadu.html#Nelson">Ted Nelson</A> around 1965 (see <A NAME=12 HREF="http://info.cern.ch/hypertext/History.html">History</A> ).<P>
HyperMedia is a term used for hypertext which is not constrained to
be text: it can include graphics, video and <A NAME=9 HREF="http://info.cern.ch/hypertext/WWW/Talks/YesWeCan.snd">sound</A> , for example. Apparently
Ted Nelson was the first to use this term too.<P>
Hypertext and HyperMedia are concepts, not products.<P>
See also:
<UL>
<LI><A NAME=2 HREF="Terms.html">A list of terms</A> used in hypertext litterature.
<LI><A NAME=19 HREF="http://info.cern.ch/hypertext/Conferences/Overview.html">Conferences</A>
<LI><A NAME=7 HREF="http://info.cern.ch/hypertext/Products/Overview.html">Commercial (and academic) products</A>
<LI>A newsgroup on hypertext, <A NAME=5 HREF=news:alt.hypertext>"alt.hypertext"</A> .
<LI><A NAME=4 HREF="TheProject.html">WorldWideWeb is a project</A>  which uses hypertext concepts.
<LI><A NAME=10 HREF="http://info.cern.ch/hypertext/Standards/Overview.html">Standards</A> .</A>
</UL>