<TITLE>HyperText Design Issues</TITLE>
<NEXTID 20>
<H1>Design Issues</H1>This lists decisions to be made in the design or selection of a <A NAME=12 HREF="../WhatIs.html">hypermedia</A>
information system. It assumes familiarity with   the concept of hypertext.
A summary of the uses of hypertext systems is followed by a list of
features which may or may not be available.  Some of the points appear
in the Comms ACM July 88 articles on various hypertext systems.  Some
points were discussed also at <A NAME=11 HREF="http://info.cern.ch/hypertext/Conferences/ECHT90/Points.html">ECHT90</A> . Tentative answers to some design
decisions from the CERN perspective are included.<P>
Here are the criteria and features to be considered:
<UL>
<LI><A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Uses.html">Intended uses of the system.</A>
<LI><A NAME=2 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Availability.html">Availability on which platforms?</A>
<LI><A NAME=6 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Navigation.html">Navigational techniques and tools: browsing, indexing, maps, resource
discovery, etc</A>
<LI><A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Versioning.html">Keeping track of previous versions of nodes and their relationships</A>
<LI><A NAME=5 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Multiuser.html">Multiuser access:  protection, editing and locking, annotation.</A>
<LI><A NAME=7 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Notification.html">Notifying readers of new material available</A>
<LI><A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Topology.html">The topology of the web of links</A>
<LI><A NAME=8 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/LinkTypes.html">The types of links which can express different relationships between
nodes</A>
</UL>These are the three important issues which require agreement betwen
systems which can work together
<UL>
<LI><A NAME=17 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Naming.html">Naming and Addressing</A> of documents
<LI><A NAME=18 HREF="../Protocols/RelevantProtocols.html">Protocols</A>
<LI><A NAME=13 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Formats.html">The format in which node content is stored and transferred</A>
<LI>Implementation and optimisation - <A NAME=15 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Caching.html">Caching</A> , smart browsers, knowbots
etc., <A NAME=14 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Formats.html#4">format conversion</A> , gateways.
</UL>