<TITLE>Information under: ../HTMLGeneration</TITLE>
<NEXTID 7>
<H1>HTMLGeneration</H1>
<XMP>
</XMP>Here are some example files you can use for generating HTML from lists
of files and other things.
<DL>
<DT><A NAME=5 HREF="http://info.cern.ch/hypertext/WWW/Tools/HTMLGeneration/fix-html.pl">fix-html.pl</A>  
<DD>written by Dan Connolly, is a perl script to legitimize
existing HTML files into SGML-abiding HTML (as per the new <A NAME=6 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/HTML.dtd">DTD</A> that
Dan created).
<DT><A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/Tools/HTMLGeneration/ls2html.awk.txt">ls2html.awk</A> 
<DD>is an awk script which will just take a list of names
and generate a menu.
<DT><A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/Tools/HTMLGeneration/dir2html.txt">dir2html</A> 
<DD>is a shell script which generates a menu of pointers to files
with particular suffixes in a set of directories. It also includes
a README file at the head of the hypertext list if one exists.
</DL>
You can make any variations on these you like of course.