<TITLE>Bugs in Mail Robot</TITLE>
<NEXTID 2>
<H1>Bugs</H1>This is a list of bugs in or improvements desired in the<A NAME=0 HREF="Overview.html"> Mail Robot.</A>
See also the list of <A NAME=1 HREF="Features.html">bug fixes</A> .
<UL>
<LI>The INDEX command ought to be implemented, but for some reason always
returns an empty list.  Occasionally it seems to work.
</UL>