<TITLE>The Mail Robot</TITLE>
<NEXTID 5>
<H1>Mail Robot</H1>The mail robot is a program which will accept incoming mail and allow
remote users to:
<UL>
<LI>Subscribe to mailing lists (and unsubscribe)
<LI>Retrieve information given a W3 addresss (URL)
</UL>Originally from UC Berkeley, an enhanced robot is distributed as part
of the <A NAME=4 HREF="../TheProject.html">world-wide web global information initiative</A>. Futhur information
available is:
<DL>
<DT><A NAME=0 HREF="Help.html">Help</A>
<DD> The help file for users of the robot service
<DT><A NAME=1 HREF="Installation.html">Installation</A>
<DD> Installation instructions for unix system managers
<DT><A NAME=2 HREF="Bugs.html">Bugs</A>
<DD> Lists of improvements requested or needed.
<DT><A NAME=3 HREF="Features.html">Change history</A>
<DD> A list of features introduced and bugs fixed.</A>
</DL>
