<TITLE>WWW Project Status</TITLE>
<NEXTID 70>
<DL>
<DT>
</DL>

<H1>Mail Robot</H1>This is a "listserv" type program which maintains mailing lists, and
allows W3 documents to be retrieved by electronic mail.
<DL>
<DT>Author:
<DD> Various, modified by TBL.
<DT>Status:
<DD> Source available  by anonymous FTP. (Oct 92)
<DT>Current version:
<DD>1.0
<DT>Platforms:
<DD> Unix only.
<DT>More information:
<DD><A NAME=58 HREF="Overview.html"> Overview</A>, <A NAME=69 HREF="Bugs.html">Bugs</A>, <A NAME=68 HREF="Features.html">change history</A>.</A>
</DL>
