<TITLE>Overview -- /X11</TITLE>
<NEXTID 3>
<H1>X11 browsers for W3</H1>Under X11, the following possibilities exist for accessing W3 data.
See the list of <a href="../Status.html">W3 products</a>.
<UL>
<LI>The Viola project provides an interface to W3 (violawww)
<LI>The Erwise browser, running using Motif;
<LI>The tkWWW browser using the TK toolkit
<LI>The MidasWWW browser using Midas gadgets;
<LI>Dan Connolly at Convex, Inc. has developped a browser under motif using
Tcl. unfortunately not public domian.
<LI>Dan has made available code to make Frame into a HTML editor.
</UL>Other interesting possibilities for this include building one on top
of
<UL>
<LI>The Andrew toolkit (ATK) from Carnegie Mellon University.
(The sources are released with X11).
<LI>The TMlib library from someone at Apollo. The distribution terms are
basically free. I have the code and documentation.
<LI>The "interviews" C++ toolkit on top of X11
<LI>The  C++ wrappers for Motif which have been made sort of public (but
would need licensing agreements) from univerity of Lowell.
<LI>The Tcl toolkit, as used by Dan.  A Tcl hypertext widget is now available
from somewhere.
</UL>_________________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A></A>
</ADDRESS>