<TITLE>September W3 News</TITLE>
<NEXTID 11>
<H1>W3 News - September '92</H1>While we haven't released a lot of news over the last few months,
that doesn't mean that things haven't been happening!  In fact, we
keep putting off releasing the news because there is always something
else to put in. So here is a September release without prejudice to
another tomorrow!   Details are on the web as usual, (as is this news
article as http://info.cern.ch/hypertext/WWW/News/9209.html)
<H2>Mailing List</H2>To avoid accidental postings to the wrong list, www-interest has been
renamed www-announce.  For details,mail listserv@info.cern.ch with
a message containing only the word "help".  We are considering starting
a newsgroup in parallel with the www-talk list.
<H2>Help!</H2>On the subject of help, we need help in particular subjects.  The
list of information by subject area is growing and we would like people
to keep up to date lists of online information in their area. (We
will do High-Energy Physics!).  Volunteers mail me please..
<H2>New servers, magazines, gateways</H2>More High-Energy Physics servers have been appearing. In <A NAME=0 HREF=http://fnala.fnal.gov:8000/>Fermilab</A>
, the documentation systems for online computing and for off-line
computing are both available on the web from an experimental server.<P>
At <A NAME=1 HREF=http://heplibw3.slac.stanford.edu:80/SLAC.html>SLAC</A> , all kinds of things are now available -- from seminars to
subroutines, you'll have to browse to see what's there. There's special
information for the SLD experiment.Experimental servers are popping
up at DESY (Germany), KEK (Japan), etc....see the list.  (If your
server isn't on it, mail me!)<P>
Outside the HEP world, <A NAME=2 HREF=http://isis.cshl.org:80/main.html>VOICE</A> magazine is, as far as I know, the first
global hypertext magazine, and a good example of how to present an
electronic journal online. Voice covers political and moral issues:
its first issue is on the topic of abortion rights.<P>
A server running at Xerox PARC provides all kinds of things from online
documentation to telephone numbers. The documentation server is a
gateway into the "system33" documentation server. Neither are yet
visible to those outside the company, but <A NAME=9 HREF="../Daemon/System33/Gateway.html">the program (in csh) is</A>
There is a new document on "<A NAME=7 HREF="../Tools/Overview.html"> Tools</A> " in the W3 documentation, and
the<A NAME=8 HREF="../Daemon/Overview.html#20"> list of server software</A> is growing...
<H2>Browser software</H2>Two more X11-based browers have been written. The MidasWWW browser
was written by Tony Johson and is a full Motif browser, and looks
neat. Tony based his browser on his "Midas" set of widgets. The browser
is not completely integrated with the W3 library yet, and so does
not have all access protocols in, but that should not be difficult,
according to Tony.<P>
The tkWWW browser is based on the tk toolkit. I haven't seen it yet,
but being toolkit-based, it should be easy to modify and upgrade.<P>
The race is on for the first X11-based hypertext editor. Pei Wei,
author of the Viola browser, is now working on W3 for O'Reilly Associates,
publishers of books on computing topics. He has a prototype W3 browser
including all sorts of fancy features (embedded graphics, scrollable
lists, generic SGML parsing) and we hope an editor will come out of
that work.<P>
The Mac browser is still in a buggy form. A W3 T-shirt to the first
one to bring it up and running! (Stop press: bug may be fixed with
help from Jon Streets... watch this space...)
<H2>Protocol Enhancements</H2>Carl Barker has completed a prototype of an extended HTTP protocol
which includes reader authorization and format negotiation.  This
is not released yet.
<H2>Standards and stuff</H2>There has been a lot of mailing list discussion about upgraded DTDs
for the SGML document type which W3 uses by default. The "Davenport
Group" may have some useful input into this process. The common format
for names and addresses of network objects was discussed at the last
two Internet Engineering Task Force meetings. Many people are working
hard to make sure these things do not fragment, and we can preserve
the universal readership which is a hallmark of the web.
<H2>People</H2>Jean-Francois Groff, after a couple more months as a master webbster
(getting W3 up over decnet, and bringing up a library server in Denmark)
now joins NeXT Europe. We hope that he will keep in touch and that
his considerable talents will be brought to bear again on the web
from some angle or other before too long!<P>
Arthur Secret, was at a student CERN for two months over the summer,
contributing an <A NAME=4 HREF="../Daemon/Oracle/Overview.html">Oracle gateway</A> for the web. He left us on 30 September,
as did Carl Barker who did the protocol enhancement work.<P>
Alain Favre is having a go at a PC client and spends some of his time
in an office at CERN.
<H2>Papers and conferences.</H2>W3 was presented at an invited talk at the Computing in High Energy
Physics conference  (preprint of paper <A NAME=5 HREF="http://info.cern.ch/hypertext/Conferences/CHEP92/chep92www.ps">available in postscript form</A>
). Terry Schalk of SCIPP, charged with presenting his overall view
of the conference in the penultimate talk,  insisted that "if there
was one thing everyone should carry away with them from the conference,
it was W3" and dedicated his slot to press everyone to go away and
install it.<P>
Ed Kroll's book on the Internet is out, with a chapter on WWW. (See
the W3 <A NAME=6 HREF="../Bibliography.html">bibliography</A> ) <P>
Tony Johnson will present W3 at Interop in San Francisco....<P>
That's all for now.  Mail me with the things I've forgotten....<P>
(Previous issue was <A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/News/9204.html">April 1992</A> , Next is <A NAME=10 HREF="9211.html">November 1992</A>)
<ADDRESS>Tim BL