<HEADER>
<TITLE>9211 -- /News</TITLE>
<NEXTID N="14">
</HEADER>
<BODY>
<H1>World-Wide Web News November 1992</H1>(As usual, this is distributed in
plain text form, but the original
hypertext contains lots of links
and may be read as http://info.cern.ch/hypertext/WWW/News/9211.html.
If you don't have World-Wide Web
software yet, telnet to info.cern.ch
(128.141.201.74), and select information
about the WorldWide Web.)
<H2>Client software</H2>Three developments on the clients
side. Tony Johnson of Boston University,
developer of the <A
NAME=10 HREF="../MidasWWW/Status.html">MidasWWW</A> browser
for Motif, has ported it now to four
X11 platforms and has a tar file
of sources available on ftp://info.cern.ch/pub/www/src
or ftp://freehep.scri.fsu.edu/freehep/networking_news_email/midaswww
as  midaswww_1.0.tar.Z Tony also
has  plans to include graphics and
text editing in the future.<P>
Here at CERN, Nicola Pellow is back
until the end of the year, and has
picked up the <A
NAME=11 HREF="../Macintosh/Status.html">Mac Browser</A> .  She
has a pre-alpha with basic functionality
up, watch this space for the first
release.<P>
The full-screen client (using curses)
has been released by Jim Whitescarver
of NJIT, see <A
NAME=12 HREF="../Curses/Release_00.html">release note</A> for details.<P>
The NeXTStep client has been revised.
The 0.13 version generated bad SGML
at times, so anyone using it to write
hypertext is advised to upgrade to
0.14 immediately.  The binary is
in ftp://info.cern.ch/pub/www/bin/next/WorldWideWeb_0.14.app.tar.Z
<H2>More and more hypertext on line</H2>New W3 servers have appeared at <A
NAME=4 HREF="http://kviexp.kvi.nl/">KVI</A>
ad at <A
NAME=6 HREF="http://ftp.cwi.nl/pub/www/default.html">CWI</A> both in the Netherlands,<A
NAME=3 HREF="http://info.in2p3.fr.:80/">
IN2P3</A>  in France, and <A
NAME=2 HREF="http://hoohoo.ncsa.uiuc.edu:80/">NCSA</A>  in Illinois,
USA.  KVI and IN2P3 are both High
Energy Physics  institites. All the
servers have local information as
well as various other goodies.<P>
CWI has a hypertext version of the
Gnu documentation and of a guide
to <A
NAME=7 HREF="http://ftp.cwi.nl/pub/www/audio-formats/a00.html">Audio formats</A> ,  and NCSA has
many things including hypertext documentation
for the <A
NAME=5 HREF="http://hoohoo.ncsa.uiuc.edu:80/docs/collage.html">X-Collage</A> system.  Two CERN
projects to produce online hypertext
documentation recently are ADAMO
and <A
NAME=z13 HREF="http://rd13doc:80/">RD13</A>.<P>
Meanwhile, <A
NAME=8 HREF="http://fatty.law.cornell.edu.:80/usr2/wwwtext/lii.table.html">Cornell Law school</A> have
a server  with hypertext of US Copyright
Law... as law tends to be mostly
cross-reference ("as defined in Sect1.2.2.(a)
above") hypertext makes a lot of
sense here!
<H2>Browse the WAIS servers</H2>It's sometimes been a bit difficult
browsing through what there is in
the WAIS world. Now, looking for
information under "types of server"
on the web will lead you to hypertext
lists of WAIS servers arranged by
name of "source" and by internet
domain. These lists are generated
automatically at CERN from TMC's
catalogue. Clicking on the source
name takes you directly to the index.
Currently there are 310 databases
on 88 hosts accesible.<P>
(Previous issue was <A
NAME=1 HREF="9209.html">September 1992</A>
)<P>
 
<ADDRESS><A
NAME=0 HREF="http://info.cern.ch./hypertext/TBL_Disclaimer.html">Tim BL</A>
</ADDRESS></BODY>
