<title>System 33 gateway code</title>
<h1>System 33 Gateway</h1>
This csh
<a href="http://info.cern.ch/hypertext/WWW/Daemon/System33/gateway">script</a> is by Steve Putz of Xerox PARC 
and is a good example of how to write a W3 server in csh.
<p>
Apart from retrieve system33 documents, it gets lot of other things as well,
including files and man pages (in plain text), and the Xerox phone book.
<p>
(<a href="http://info.cern.ch/hypertext/WWW/Daemon/System33/mail">Covering mail</a>) 