<TITLE>WWW Project Status</TITLE>
<NEXTID 63>
<H1>Curses Browser</H1>Assumes a character-grid terminal with cursor addressing, and provides
a full-screen interface to the web.
<DL>
<DT>Author
<DD> James Whitescarver, New Jersey Institute of Technology
<DT>Status
<DD> In beta test. A public access telnet server exists (address?)
<DT>Test site
<DD> Telnet eies2.njit.edu, login as www
<DT>More information
<DD><A NAME=61 HREF="Release_00.html">Release announcement</A>.
<DT>Related products
<DD>Other <A NAME=62 HREF="../Status.html">WWW products</A>.</A>
</DL>
