<TITLE>(No title)</TITLE>
<NEXTID 4>
<H1>Macintosh Browser</H1>Part of the <A NAME=2 HREF="../TheProject.html">WWW</A> project.<P>
The Macintosh browser is written in Think-C. It uses much code in
common with the line mode browser. For the hypertext object, the Think-C
text object is hacked to allow multifont capability, and then to allow
anchors to be encoded in the styles.<P>
See also: browser <A NAME=3 HREF="Status.html">status</A>.
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A>