<TITLE>WWW Project Status</TITLE>
<NEXTID 63>
<DL>
<DT>
</DL>

<H1>Macintosh Browser Status</H1>Implemented in (object oriented) Think-C using the Think-C human interface
objects.
<DL>
<DT>Author:
<DD><A NAME=9 HREF="../People.html#Cailliau"> RC</A>, <A NAME=62 HREF="../People.html#Pellow">NP</A>
<DT>Status:
<DD> Multifont text object complete. Common code port complete.
Integration complete.  Pre-alpha version available for those desperate.,
works on coliur mac but not on big black and white ones it seems.
<DT>Next Milestone:
<DD> First release Dec 92.
<DT>More information:
<DD> <A NAME=13 HREF="Overview.html">Overview</A>
</DL>
