<TITLE>Commands -- /LineMode</TITLE>
<NEXTID 9>
<H1>Commands</H1>The following commands are available at the prompt within<A NAME=1 HREF="QuickGuide.html"> www</A> . Some
are disabled when not applicable. All commands may be abbreviated.
Case is not significant.
<DL>
<DT><A NAME=8>Help</A>
<DD> Gives a list of available commands depending on the context,
the version number of the www program, and the<A NAME=4 HREF="../../Addressing/Addressing.html"> hypertext address</A> ,
(or UDI) of the document you are reading.
<DT>&lt.Return&gt.
<DD> Just hitting Return displays the next page of the current
document.
<DT>&lt.number&gt.
<DD> Typing a number by itself follows the corresponding
reference from the currently displayed document.
<DT>Find keywords
<DD> Queries the current index with the supplied keywords
(separated by blanks). The interpretation of the keywords depends
on the particular information server you're looking at. In most cases,
it will search a database for entries matching the keywords, and will
display the results with possibly links to further details. For more
complex queries, instructions should be present in the cover page.
The "Find" command can be omitted if the first keyword does not conflict
with another www command.
<DT>Back
<DD> Goes back to the document you were reading before.
<DT>Home
<DD> Goes back to the first document you were reading.
<DT>Recall
<DD> Without a parameter, gives a numbered list of the documents
you have visited.  To select one, type "Recall" followed by the number.
<DT><A NAME=2>List</A>
<DD> Gives a numbered list of the links from the current document,
giving the title of the target documents (or addresses if no title).
To follow a link, type the number by itself as above.
<DT>Next, Previous
<DD> Goes to the next or previous document in the list of
pointers from the document that led to the current one. This is better
explained with an example: suppose you are reading a document which
looks like a menu, and you want to read all entries in turn. You first
type "1" to read the first referred document (by following the first
link), and then you type "next" or just "n" to read the next one from
the menu, without actually coming back to the menu and typing "2",
etc.
<DT>Go &lt.address&gt.
<DD> Goes to the document represented by the given<A NAME=5 HREF="../../Addressing/Addressing.html"> hypertext
address</A> , which is interpreted relatively to the current document.
<DT>Up, Down
<DD> Scrolls up or down one page in the current document.
<DT><A NAME=6>Source</A>
<DD> Followed by another command, causes raw source to be generated
for that command. Useful for printing postscript files without formatting,
with SOURCE PRINT.  See <A NAME=7 HREF="http://info.cern.ch/hypertext/WWW/LineMode/Defaults/SourceExamples.html">examples</A> .
<DT>Top, Bottom
<DD> Goes to the top or the bottom of the current document.
<DT>Verbose
<DD> Toggles verbose mode (for maintenance purposes).
<DT>Quit
<DD> Leaves the application.
</DL>
On Unix versions, the following extra commands are available:
<DL>
<DT>Print
<DD> Prints the current document, without the numbered document references.
A background www is launched to do that, and its output is piped to
the command defined by the environment variable WWW_PRINT_COMMAND
("lpr" by default).
<DT>&gt. file, &gt.&gt. file
<DD> Saves or appends the current document to
the given file, without the numbered document references. A background
www is launched to do that.
<DT>| command
<DD> Pipes the current document to the given command, without
the numbered document references. A background www is launched to
do that.
<DT>! command
<DD> Executes the given shell command without leaving www.
<DT>CD (or LCD) directory
<DD> Changes the local working directory. "! cd directory"
won't do this because it applies to a subshell.
</DL>

<ADDRESS><A NAME=0 HREF=http://info.cern.ch/hypertext/TBL_Disclaimer.html>Tim BL</A></A>
</ADDRESS>