<TITLE>Customisation -- /Defaults</TITLE>
<NEXTID 13>
<H1>Customizing www</H1>Customizing <A NAME=7 HREF="QuickGuide.html">www</A> 's behaviour is done with environment variables or
their equivalent.<P>
"<A NAME=11 HREF="http://info.cern.ch/hypertext/WWW/LineMode/Defaults/EnvVariables.html"> Environment variable</A> " is a unix term. On VMS you should use a <A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/LineMode/Defaults/Installation_VMS.html#3">logical
name</A> . Under VM/CMS use a <A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/LineMode/Defaults/GlobalV.html">global variable</A> .<P>
You can also customise www by defining your own "www" command to invoke
www with certain <A NAME=2 HREF="CommandLine.html">command line options</A> set, such as the page length.
See also how to make <A NAME=8 HREF="Shortcuts.html">shortcut commands (aliases)</A> .<P>
A list of things you can customize with environment variables (or
local equivalents) are as follows:-
<H2><A NAME=9>WWW_HOME</A></H2>The address of the first document to start with if you run www without
a document name on the command line. For example, you can set it to
<XMP>
	    http://info.cern.ch/hypertext/WWW/LineMode/Defaults/default.html

</XMP>if you want to always use the home page on the CERN information server.<P>
As the <A NAME=6 HREF="QuickGuide.html">line mode browser</A> is installed, it comes with a default copy
of that home page, frozen at the time when the distribution was made.
That page has (right at the bottom) a link back to the current version
on our server.  If you are installing www without privileges, you
may not be able to install the home page, and so you will have to
set WWW_HOME to point to a local copy of the file, or to our server.<P>
You can customize www to start at a page of your choice. You can write
your own page, or use someone else's.  All you have to do is to set
the environment variable WWW_HOME to the www address of your preferred
home page. (When you are using www, you can see what an address looks
like by typing help when you are reading a document - it tells you
the address of that node).
<H2>NNTPSERVER</H2>See how to set up the <A NAME=5 HREF="NewsServer.html">news server's address</A> .
<H2><A NAME=12>WWW_PRINT_COMMAND</A></H2>Unix only. A quoted printf-style format string for the system command
you wish to invoke with the www PRINT command.  This should contain
one %s marker where www should put the name of the document to be
printed. The default is
<XMP>
			www -n -na -p66 '%s' | lpr

</XMP>(The single quotes around the %s are necessary in case the address
contains shell metacharacters. When you define this variable, you
may of course have to enclose the whole thing in double quotes, e.g.
<XMP>
	setenv WWW_PRINT_COMMAND "www -n -na -p66 '%s' | lpr"
</XMP>
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A></A>
</ADDRESS>