<TITLE>User Guide for the WWW Line Mode Browser</TITLE>
<NEXTID 9>
<H1>WWW Line Mode Browser</H1>The World-Wide Web line-mode browser allows you to find information
by following references and/or by using keywords.<P>
References are numbers in [brackets] after particular phrases. Type
the number and RETURN for more information on the phrase.<P>
Some documents are indexes. These contain little text, but allow you
to search for information with keywords. Type "find" or "f" (space)
and the keywords. For example, "f sgml examples" searches the index
for items with keywords SGML and EXAMPLE. You can only use the "find"
command when it is present in the prompt. You can omit the "f" if
the first keyword doesn't conflict with <A NAME=3 HREF="Commands.html">existing commands</A> .<P>
Futher information:  <A NAME=2 HREF="CommandLine.html">command line syntax</A> ,<A NAME=4 HREF="Shortcuts.html"> shortcuts</A> ,<A NAME=7 HREF="Installation.html"> installation</A>
,<A NAME=8 HREF="Customisation.html"> customization</A> ,<A NAME=5 HREF="../More.html"> deeper details</A> .<P>
Please send any bugs and suggestions to www-bug@info.cern.ch.
<ADDRESS><A NAME=0 HREF=http://info.cern.ch/hypertext/TBL_Disclaimer.html>Tim BL</A>
</ADDRESS>
<p>