<TITLE>C5_17_May_91 -- /Talk_Feb-91</TITLE>
<NEXTID 16>
<H1><A NAME=6 HREF="../TheProject.html">WorldWideWeb</A> for <A NAME=8 HREF="http://info.cern.ch/hypertext/WWW/Talks/C5_Committee.html">C5</A></H1>(WWW for CCCCC?)  Presentation given on 17 May 1991. Also invited:<A NAME=14>
Mike Sendall</A> /ECP. (<A NAME=15 HREF="http://info.cern.ch/hypertext/WWW/Talks/Overview.html">Other talks</A>)<P>
We will cover only an outline, but please ask <A NAME=13 HREF="http://info.cern.ch/hypertext/WWW/Talks/C5_Questions.html">questions</A> :
<UL>
<LI><A NAME=1 HREF="http://info.cern.ch/hypertext/WWW/Talks/Informing.ps">Basic reference model</A>
<LI><A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/Talks/Status.ps">WWW architecture and development progress</A>
<LI><A NAME=11 HREF="../RelatedProducts.html">Related products</A> in industry
<LI>Functions and data <A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/Talks/Available.html">available</A> and <A NAME=5 HREF="http://info.cern.ch/hypertext/WWW/Talks/ToCome.html">to come</A>
<LI>Data from the <A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/Talks/FIND_1.html">XFIND</A> server (<A NAME=9 HREF="../People.html#Pollermann"> BP</A> )
<LI><A NAME=12 HREF="http://info.cern.ch/hypertext/WWW/Talks/C5_conclusion.html">Conclusion</A>
</UL>_____________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A></A>
