<TITLE>(No title)</TITLE>
<NEXTID 14>
<H1>The <A NAME=8 HREF="../TheProject.html">WorldWideWeb</A> Project</H1>In this short presentation we will cover:
<UL>
<LI><A NAME=6 HREF="../WhatIs.html">HyperText in general</A>
<LI><A NAME=2 HREF="http://info.cern.ch/hypertext/WWW/Talks/Summary.html">A summary of the project</A> ; <A NAME=12 HREF="../People.html">People</A>
<LI><A NAME=11 HREF="http://info.cern.ch/hypertext/WWW/Talks/Informing.ps">How we inform ourselves</A>
<LI><A NAME=3 HREF="http://info.cern.ch/hypertext/Talk/60_Approach.ps">The WWW architecture</A>
<LI><A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/Talks/Status.ps">Development Status</A>
<LI><A NAME=7 HREF="http://info.cern.ch/hypertext/WWW/Talks/NeXT_Browser.html">The NeXT HyperText editor</A>
<LI><A NAME=9 HREF="http://info.cern.ch/hypertext/WWW/Talks/LineMode.html">The Line Mode browser</A>
<LI><A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/Talks/FINDGateway.html">The CERNVM "FIND" gateway</A>
</UL>(<A NAME=13 HREF="http://info.cern.ch/hypertext/WWW/Talks/Overview.html">other talks</A>)<P>
__________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim Berners-Lee,</A> <A NAME=5 HREF="../People.html#Cailliau">Robert Cailliau,</A>  CERN  February 1991</A>
