<TITLE>The WorldWideWeb application on the NeXT</TITLE>
<NEXTID 18>
<H1>Making your own documents</H1>You can edit existing documents using WWW so long as they are files.
You cannot normally edit information retrieved from remote databases.
<H2>Making a new document</H2>You can make a new doument using the "<A NAME=13 HREF="Menus.html#22"> New file</A> " menu item. Remember
to link the new document to an existing one so that you can find it
again easily. You will be prompted with a panel for a name of new
file.You can make and link in a new document at the same time with
the "<A NAME=11 HREF="Menus.html#16"> Link to New</A> " option in the "Link" menu. First, select the text
region which you want to be associated with the new node, then use
"<A NAME=12 HREF="Menus.html#16"> Link to New</A> ".  You will be prompted with a panel for a name of
new file.<P>
A third way is to start with a copy of an existing document.   Select
the document you want to copy, then use the "<A NAME=14 HREF="Menus.html#21"> Save a copy in ... HyperText
Markup Language</A> " menu item to create a new copy. You will be prompted
with a panel for a name of new file.In this way, any links to other
files will be correct.  You must then use <A NAME=15 HREF="Menus.html#10">Open</A> to access the new copy.<P>
(Do NOT move or copy the file into another directory with the wokspace
manager if the file contains any links to files which are not being
moved or copied as well, because the addresses of linked files are
stored as relative filenames. This has the advantage that you CAN
copy or move whole directory trees, preserving all links within the
directory structure.)
<H2>Other ways</H2>You can if you really want to make your own hypertext documents using
a mark-up langauge. (See <A NAME=0 HREF="http://info.cern.ch/hypertext/WWW/MarkUp.wn">HyperText Mark-up Language</A> ). This is a little
like SGML you may have used before, so conversion of existing documents
is fairly easy. To do this, open an existing document from the editor:
if you open it from the workspace, it will be loaded into WorldWideWeb.<P>
You can also write a server which will automatically generate your
favourite information in a format that WorldWideWeb and other WWW
browsers can read as hypertext. The format is the same as the file
format, but you will need to know the <A NAME=1 HREF="http://info.cern.ch/hypertext/WWW/Protocols/HTTP.html">HTTP</A> protocol too. See the WWW
<A NAME=17 HREF="../Daemon/Overview.html">daemon</A>. which can be used as a base.
<H2>See also:</H2>
<UL>
<LI><A NAME=16 HREF="Menus.html">A description of the menu items</A>