<TITLE>The WorldWideWeb application on the NeXT</TITLE>
<NEXTID 11>
<H1>WWW User guide</H1>The "WorldWideWeb" application for the NeXT is a prototype Hypertext
browser/editor. It allows direct access to Hypertext servers, files
and news. See also further information:
<UL>
<LI><A NAME=2 HREF="Menus.html">HELP: A description of the Menu items.</A>
<LI><A NAME=3 HREF="Installation.html">Installation notes.</A>
<LI><A NAME=4 HREF="../TheProject.html">Background: The WorldWideWeb project of which this is a part.</A>
<LI><A NAME=5 HREF="Implementation/Bugs.html">Known problems:  Bug list</A>
<LI><A NAME=9 HREF="Implementation/SourceFiles.html">The source files used by the project software</A>
</UL>
<H2>General</H2>When you double-click on the WorldWideWeb icon, the application by
default displays your own home page, ~/WWW/default.html, or failing
that the system home page, /usr/local/lib/WWW/default.html.<P>
From then on, if you want to select a document referred to by a page
being displayed, you just double click on an areas of gray text. (Gray
was chosen so as not to use up other highlighting techniques such
as bold or italic, which authors may want to use for other things.
When color comes along, we can use colour...)<P>
If you double-click anywhere else in the document,  you will select
a word, as is usual on the NeXT.<P>
Some gray areas lead to whole documents, while some bring up a document
with a particular target area highlighted. This is called the destination
anchor. It is not gray unless it in turn leads somewhere else, but
double clicking on a destination anchor selects the whole anchor.
<H2>Indexes</H2>Certain documents are indexes. They normally have only a small amount
of text. You cannot read the index yourself (it may be very big).
To access something through the index, use the "Keyword search" menu
option. The window with the index in it must be the main window (dark
title bar) when you use the keyword search panel. The rules used by
indexes to search for matches vary. Different indexes use different
techniques, and cover different ranges of information.<P>
When a search is successful, the result is a page of references to
documents. You select documents from it by double clicking in the
usual way.
<H2>See also:</H2>
<UL>
<LI><A NAME=10 HREF="MakingDocuments.html">Making your own documents</A>
</UL>