<TITLE>Overview -- /Geography</TITLE>
<NEXTID 3>
<H1>Geography gateway</H1>
<ADDRESS>Wed, 18 Nov 1992 <P>Jim Davis <davis@dri.cornell.edu>
</ADDRESS>Here is a quickly hacked up Gateway from WWW to the University of
Michigan Geography server.  It expects one argument, a  WWW doc id.
 It ignores the "pathname", extracts the search words, then passes
those to the server.  It does NOT parse the data returned by the server
(that is an improvment yet to be done) but you can understand the
output.<P>
To use this, you would need to have an HTTP server running someplace
where you can attach this gateway.  I can provide the very simple
HTTP server I use here, but this subject is already documented in
the WWW online documentation.<P>
<A NAME=1 HREF="http://info.cern.ch/hypertext/WWW/Daemon/Geography/geogate.pl.txt">Source code in perl</A>
<ADDRESS>
</ADDRESS>