<TITLE>Bugs -- /Daemon</TITLE>
<NEXTID 3>
<H1>Bugs and Improvements needed</H1>Improvements to be made in the HTTP <A NAME=2 HREF="Overview.html">daemon</A> program are as follows.
(Se also <A NAME=1 HREF="Features.html">Features</A> )
<UL>
<LI>The trace options are needed
<LI>Call shell scripts to perform searches on directory trees or documents.
<LI>Browse directories.
<LI>The HTRetrieve() routine ought to be able to pick up the user node
and userid, etc...
</UL>_________________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A></A>
</ADDRESS>