<TITLE>Features -- /Daemon</TITLE>
<NEXTID 6>
<H1>Daemon features: Update history</H1>History list for the WWW <A NAME=2 HREF="Overview.html">daemon</A> . (See also <A NAME=1 HREF="Bugs.html">bugs</A> )
<h2>unrealeased</h2>
<ul>
<li>Bug fix: If a PASS or FAIL line in the configuration file
acted on a single document id (ie no wildcard) then it crashed the daemon.
(HTRules.c, 17-Jun-92, TBL).
</ul>
<H2>Sept 1991 v0.3</H2>
<UL>
<LI>Bug fix: Plain text files were returned to be parsed as SGML, causing
them to come out as garbage. (Mike Sendall)
</UL>
<H2>August 1991 v 0.2</H2>
<UL>
<LI><A NAME=4 HREF="User/Guide.html#6">-R</A> option now suppresses default rule file.
<LI><A NAME=3 HREF="User/RuleFile.html#2">Rule file format</A> changed completely. Now allows authorisation of specific
paths only.
</UL>
<H2>June 1991 version 0.1</H2>
<UL>
<LI>-r and -R options for rules
<LI><A NAME=5 HREF="User/Guide.html#7">Default address</A> is now for Inet daemon working. (29 June)
<LI>-l option to log to a file.
<LI>-a option for address other than default
</UL>_________________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A>