<TITLE>WWW Project Status</TITLE>
<NEXTID 66>
<DL>
<DT>
</DL>

<H1>Status of basic WWW server</H1>A version of the daemon which will allow general unix users to set
up an index search daemon. As index search tools are not generally
available, we may use the NeXT digital Librarian or WAIS as an basis.
<DL>
<DT>Author
<DD> <A NAME=31 HREF="../People.html#BernersLee">TBL</A>
<DT>Status:
<DD> Version 0.4 available by anonymous FTP, with no index search
but file access, name mapping and security filter.
<DT>Platforms
<DD> Unix, VMS, VM/CMS (VM/XA).
<DT>Next Milestone:
<DD> Serious improvements to installation ease, and simplicity
of publication. Directory browse. Run shell scripts to implement virtual
documents and searches.
<DT>More information:
<DD><A NAME=21 HREF="Overview.html"> Overview</A> , <A NAME=22 HREF="Bugs.html">Bug list</A> , <A NAME=23 HREF="Features.html">features</A> .
</DL>
