<TITLE>WWW Project Status</TITLE>
<NEXTID 67>
<DL>
<DT>
</DL>

<H1>VMS/Help gateway</H1>A daemon program which allows VMS users to share information they
have which is in help libraries.
<DL>
<DT>Author:
<DD><A NAME=26 HREF="../People.html#Groff"> JF</A>
<DT>More information:
<DD><A NAME=28 HREF="../VMSHelp/Overview.html"> Overview</A> , <A NAME=29 HREF="../VMSHelp/Bugs.html">Bug list</A> , <A NAME=30 HREF="../VMSHelp/Features.html">Feature list</A> .
</DL>
