<TITLE>Coding -- /Project</TITLE>
<NEXTID 14>
<H1>Coding Standards</H1>This document describes a coding style for C code (and therefore largely
for C++ and Objective-C code). The style is used by the W3 project
used so that:-
<UL>
<LI>Code is portable and maintainable.
<LI>Code is easily readable by other project members.
</UL>If you have suggestions, do send them. (We do not include points designed
to allow automatic processing of code by parsers with an incomplete
awareness of C syntax.).   IF YOU DO NOT ABIDE BY THIS GUIDE YOUR
CODE WILL ANNOY OTHER TEAM MEMBERS AND MAY NOT PORT.<P>
The style guide is divided into sections on <A NAME=1 HREF="http://info.cern.ch/hypertext/WWW/Project/Language.html">Language features</A> ,<A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/Project/Macros.html"> Macros</A>
, <A NAME=9 HREF="http://info.cern.ch/hypertext/WWW/Project/ModuleHeader.html">Module header</A> , <A NAME=11 HREF="http://info.cern.ch/hypertext/WWW/Project/Modules.html">Modules in straight C</A> , <A NAME=2 HREF="http://info.cern.ch/hypertext/WWW/Project/Headings.html">Function header</A> , <A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/Project/Body.html">Code style</A>
, <A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/Project/Identifiers.html">Identifiers</A> , Code management: the use of <A NAME=12 HREF="http://info.cern.ch/hypertext/WWW/Project/UseOfCVS.html">CVS</A> , <A NAME=7 HREF="http://info.cern.ch/hypertext/WWW/Project/IncludeFiles.html">Include files</A> ,<A NAME=8 HREF="http://info.cern.ch/hypertext/WWW/Project/Directories.html">
Directory structure</A> , special <A NAME=13 HREF="http://info.cern.ch/hypertext/WWW/Project/CodingMarks.html">marks</A> .<P>
(See also pointers to some <A NAME=5 HREF="http://info.cern.ch/hypertext/WWW/CodingStandards.html">public domain styles</A> ). _________________________________________________________________
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A></A><P>