<HEADER>
<TITLE>Status of the WWW Common Library</TITLE>
<NEXTID N="61">
</HEADER>
<BODY>
<H1><A
NAME=57>Common Library</A></H1>The common code library is the basis
for most browers.  It contains the
network access code and format handling.
<DL>
<DT>Authors
<DD> TBL, JFG
<DT>Status:
<DD> To be avialable as a separate
software product shortly (around
Oct 1992).
<DT>Platforms
<DD> As <A
NAME=52 HREF="Status.html#51">line mode browser</A>
<DT>More information
<DD><A
NAME=53 HREF="Bugs.html"> Things to be done</A>
, <A
NAME=54 HREF="Features.html">Change list</A></A>
</DL>
</BODY>
