<TITLE>Overview of the VMS Help server</TITLE>
<NEXTID 6>
<H1>VMS Help server</H1>This server can provide WWW users with any information stored in VMS
Help format. It currently runs on ONLINE as an experimental service
to access standard VMS Help topics. We plan to install this server
on VXCERN and other machines to access data stored in the VMS Help
system by various CERN Experiment Groups.
<H3>Additional information available:       :-> </H3>
<DL>
<DT><A NAME=1 HREF=http://vxcrna.cern.ch:80/help>Try me ! </A>
<DD>An example server running at CERN
<DT><A NAME=2 HREF="Features.html">Features</A>
<DD> Improvements made in chronological order.
<DT><A NAME=3 HREF="Bugs.html">Bugs</A>
<DD> Known problems and improvements being considered.
<DT><A NAME=4 HREF="../Daemon/VMSHelpGate.html">Technical notes</A>
<DD> Technical notes, installation procedure and source
files.
<DT><A NAME=5 HREF="../Daemon/Overview.html">Other servers</A>
<DD>Other exampels of W3 servers.
</DL>
__________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">JFG</A>