<title>Documentation Ideas</title>
<h1>Audience</h1>
We need to consider
<ul>
<li>- Who the audience are.
<li>- What they need to know in order to use the program.
<li>- What we can assume they know already (nothing?).
<h2>Users</h2>
Require a simple and short
<a href="http://info.cern.ch/hypertext/WWW/LineMode/UsersGuide.html">
users guide</a>, which includes the basic
description of the program, how to use it, and how to install it.
<h2>Maintainers</h2>
Require the internals of the program, in order to debug, if in the future,
problems arise. They need to have an overview of the program, mentioning any
departures from normal practice. They need to have details of the structural
layout of the program and information concerning any setups required, aswell
as a list of files which are needed to be linked into the program, and details 
of which operating system should be used.
<p>Documentation should be kept simple and short.
