<HEADER>
<TITLE>More -- /LineMode</TITLE>
<NEXTID N="17">
</HEADER>
<BODY>
<H1>More information</H1>Much information related to <A
NAME=6 HREF="Defaults/QuickGuide.html">www</A> and
the <A
NAME=11 HREF="../TheProject.html">World-Wide Web</A> project is available
online.  Here are some places to
start:
<DL>
<DT>Line mode browser:
<DD><A
NAME=3 HREF="Defaults/Bugs.html"> Bugs</A> we know about;<A
NAME=2 HREF="Defaults/Features.html">
Features</A> introduced and bug fixes
made;<A
NAME=12 HREF="Defaults/Installation.html"> Installation instructions</A> ;<A
NAME=14 HREF="Internals.html">
Internals</A> .
<DT><A
NAME=z16 HREF="http://info.cern.ch/hypertext/WWW/LineMode/vm-cms/Overview.html">Installation on VM/CMS</A>
<DD>Hints for compiling
WWW on VM systems.
<DT><A
NAME=9 HREF="../Addressing/Addressing.html">Document addresses</A>
<DD> About the format
of document addresses. See also the
<A
NAME=13 HREF="Defaults/Commands.html#3">HELP command</A> .
<DT><A
NAME=10 HREF="../MarkUp/MarkUp.html">Hypertext file format</A>
<DD> The HTML syntax
used for hypertext.
<DT><A
NAME=z15 HREF="../Status.html">Other WWW browsers</A>
<DD>List of W3-compatible
software
<DT><A
NAME=1 HREF="../TheProject.html">The WWW project</A>
<DD> More details of the
ideas, people, etc involved.
<DT><A
NAME=5 HREF="../WhatIs.html">Hypertext</A>
<DD> What is hypertext, anyway?
</DL>
___________________________________________________
<ADDRESS><A
NAME=0 HREF="http://info.cern.ch/WWW/disclaimer.html">Tim BL</A></BODY>
