<TITLE>(No title)</TITLE>
<NEXTID 3>
<H1>Bugs and Improvements needed</H1>See also <A NAME=1 HREF="Features.html">features added</A> . Bugs we are aware of in the <A NAME=2 HREF="Overview.html">FIND server</A>
on CERNVM are as follows:
<UL>
<LI>Yellow pages information is not very complete.
<LI>The use of many levels of heading instead of DL lists is unfortunate
when it comes to formating. DESY (etc) would like the lists coming
back from XFIND to have the "EXP line" aligned -- perhaps we need
a DL 
<LI>The title generated for a coument contains only the EXP: line. In
many cases this is written on the assumption that it will always be
preceded by the name line.
</UL>
<DL>
<DT>COMPACToption.
</DL>

<UL>
<LI>Document format negociation. __________________________________________________________
</UL>
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A></A>
</ADDRESS>