<TITLE>(No title)</TITLE>
<NEXTID 13>
<H1>The FIND server</H1>This runs on CERNVM, providing information to the WWW hypertext world.<P>
See further information:
<UL>
<LI>For users: How to search  giving <A NAME=11 HREF="http://info.cern.ch/hypertext/DataSources/WHO/FieldNames.html">field names</A> .
<LI><A NAME=5 HREF="Bugs.html">Bug list</A> : Known problems and imporovements being considered, and<A NAME=9 HREF="Features.html">
Features added</A> .
<LI><A NAME=8 HREF="../Daemon/FINDGate.html">Technical notes</A> on the C part and running on VM
<LI>The source: The <A NAME=10 HREF="http://info.cern.ch/hypertext/WWW/Daemon/Implementation/FINDGate.c">C code</A> .
<LI>A proposal the process of presenting this information as hypertext.
"<A NAME=1 HREF="http://info.cern.ch/hypertext/WWW/FIND/Hyperizing_FIND.wn/WNDocument.wn"> Hyperizing FIND</A> "  (a WriteNow document)
<LI><A NAME=2 HREF=http://crnvmc/FIND/PUB.P.HELPCMS.FIND(X,G)>HELP on the CERNVM FIND command</A> . Also see the <A NAME=4 HREF=http://crnvmc/FIND/PUB.P.HELPCMS.NEWS(X,G)>NEWS</A> and <A NAME=3 HREF=http://crnvmc/FIND/PUB.P.HELPCMS.WHO(X,G)>WHO</A> commands.
These are the commands which provide the equivalent functionality
but on VM/CMS.
<LI><A NAME=12 HREF="Status.html">Status</A>
<LI><A NAME=7 HREF="Stored.html">Information stored</A> .
</UL>__________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A></A>
</ADDRESS>