<TITLE>WWW Project Status</TITLE>
<NEXTID 66>
<H1><A NAME=17>CERNVM  server status</A></H1>This is a service machine running under CERNVM, written partly in
C and partly in IBM's "REXX" language.  The communications code, in
C, calls the REXX exec.
<DL>
<DT>Authors
<DD><A NAME=4 HREF="../People.html#BernersLee"> TBL</A> (C language part),<A NAME=5 HREF="../People.html#Pollermann"> BP</A> (REXX)
<DT>Status:
<DD> First version working.  
<DT>
<DD>New version with FIND, Yellow Pages, NEWS available, WHO data now
included (through a fudge).
<DT>
<DD>Document format negociation still to be included.
<DT>Next milestone:
<DD>  <A NAME=15 HREF="Bugs.html">bug list</A> fixed. 
<DT>More information:
<DD><A NAME=14 HREF="Overview.html"> Overview</A>
</DL>
