<TITLE>Stored -- /FIND</TITLE>
<NEXTID 1>
<H1>Information stored on the "exp" line.</H1>What should we store in the "explanation line" which is generated
overnight and is turned up by a search?  Don't be confused by the
term "explanation line - it is historical. In fact it refers to a
record containing the following information.
<UL>
<LI>Is there an anchor? Is it already seen? (Should 'seen" information
be stoerd by the server rather than by the client?)
<LI>Name
<LI>Explanation - a one-line title
<LI>Find group, category and hierarchy level (internal server use only)
<LI>Functional flag: Indicates whether a plain text, help, or see prologue
for more complex things. This is a fudge for the VM FIND application
only.
<LI>Line number of a subset of a master file. Effectively, this is part
of the filename, when (for ellow pages for example), many small hypertext
nodes are in fact stored in the same file.
<LI>Resposible person's CCID (identifier for WHO).  This information would
normally be avialable ina hypertext system only when one has jumped
to the node concerned.
</UL>_________________________________________________________________F
<ADDRESS>following a discusion with Bernd 20 Apr 91<P><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A>
</ADDRESS>