<TITLE>Etiquette -- /Provider</TITLE>
<NEXTID 3>
<H1>Etiquette</H1>There are a few conventions which will make for a more useable, less
confusing, web.
<H2>Sign it!</H2>An important aspect of information which helps keep it up to date
is that one can trace its author.  Doing this with hypertext is easy
-- all you have to do is put a link to a page about the author (or
simply to the author's phone book entry).<P>
Make a page for yourself with your mail address and phone number.
At the bottom of files for which you are responsible, put a small
note -- say just your initials -- and link it to that page. The <A NAME=2 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/Tags.html#20">address
style</A> (right justified) is useful for this.<P>
 Your author page is also a convenient place to put and disclaimers,
copyright noitices, etc which law or convention require. It saves
cluttering up the mesages themselves with a long signature.<P>
If you are using the NeXT hypertext editor, then you can put this
link from your default blank page so that it turns up on the bottom
of each new document. 
<H2>Give the status of the information</H2>Some information is definitive, some is hastily put together and incomplete.
Both are useful to readers, so do not be shy to put information up
which is incomplete or out of date -- it may be the best there is.
However, do remember to state what the status is. When was it last
updated? Is it complete? What is its scope? For a phone book for example,
what set of people are in it?
<H2>Refer back</H2>You may create some data as part of an information tree, but others
may may make links to it from other places.  Don't make assumptions
about what people have just read.   Make links from your data  back
to more general data, so that if people have jumped in there, and
at first they don't undertand what it's all about, they can pick up
some background information to get the context.
<H2>A root page for outsiders</H2>You don't have to have any particular structure to the data you publish:
you can let it evolve as you think best. However, it is neat to have
a document on each host which others can use to get a quick idea (with
pointers) of what information is available there.  I suggest you put
a "map" line into your daemon <A NAME=1 HREF="../Daemon/User/RuleFile.html">rule file</A> to map the document name "/"
onto such a document.  As well as a summary of what is available at
your host, pointers to related hosts are a good idea. 
<H2>An alias for your server</H2>If you have a serious server then it may last longer than the machine
on which it runs.  Ask your internet domain name manager to make an
alias for it so that you can refer to it, instead of as "mysun12.dom.edu"
as "info.dom.edu" for example, or  "www.dom.edu".  This will mean
that when you change machines, you move the alias, and  people's links
to your data will still work.<P>
_________________________________________________________________
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A>