<TITLE>Overview -- /Tools</TITLE>
<NEXTID 9>
<H1>W3 Tools</H1>These tools aid managements of W3 servers, generation of hypertext,
etc.
<DL>
<DT><A NAME=1 HREF="../Daemon/Basic.html">W3 basic daemon</A>
<DD> Part of the W3 project code. 
<DT><A NAME=5 HREF="../Daemon/Overview.html#17">Gateway servers</A> 
<DD>which you can take and adapt.
<DT><A NAME=8 HREF="../Frame/fminit2.0/www_and_frame.html">Framemaker interface</A>
<DD> There are some tar files on the anonymous FTP
archive on file://info.cern.ch/www/src which allow FRAMEmaker to be
used as a W3 tool. Dan Conolly, Convex. Incldues MIF HTML translation.
<DT>Making HTML into TeX
<DD> We did this with the "WWW Book" to print it.
See the <A NAME=2 HREF="http://info.cern.ch/hypertext/WWW/Tools/TeX/Makefile">Makefile</A> for example, and the scripts <A NAME=3 HREF="http://info.cern.ch/hypertext/WWW/Tools/TeX/html2latex.sed">html2latex.sed</A> and <A NAME=4 HREF="http://info.cern.ch/hypertext/WWW/Tools/TeX/sub1.sed">sub1.sed</A>.
We wrote a special introduction, but otherwise all the text was hypertext
from the W3 project.
<DT><A NAME=6 HREF="HTMLGeneration/Overview.html">Generating HTML</A>
<DD> These are scripts for generating SGML hypertext from
things like directory listings, etc. Also, for checking and correcting
dubious HTML.
<DT>Server log analysis
<DD> Analysing server logs requires first of all changing
the numeric internet node numebrs into domain names. <A NAME=7 HREF="http://info.cern.ch/hypertext/WWW/Tools/LogAnalysis/httpd-analyse.c">httpd-analyse.c</A>
is a program to do that. Feed the results through awk and grep of
your choice!
</DL>
_________________________________________________________________
<ADDRESS><A NAME=0 HREF=http://info.cern.ch./hypertext/TBL_Disclaimer.html>Tim BL</A>