<TITLE>W3 project - assorted design notes</TITLE>
<NEXTID 32>
<H1><A NAME=18>Design Notes</A></H1>These are points arising from discussions, etc. Note that as the design
takes shape, it goes straight into the web in place.  Old points remaining
here only have historical value. There is also a <A NAME=26 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/ToBeThoughtOf.html">to-be-thought-of</A>
list.<P>
Reverse chronological order:
<DL>
<DT>Carl's legacy
<DD> Browser: <A NAME=31 HREF="http://info.cern.ch/hypertext/WWW/LineMode/Implementation/Carl_Development/Updated_User_Guide.html">Updates</A> ,  wish-list,  daemon Updates, wish-list.
<DD>
<DT>
<DD>
<DT><A NAME=29 HREF=http://info.cern.ch/timbl/Public/USTrip1992/Overview.html>Tim in US</A>
<DD> An incomplete trip report...
<DT><A NAME=25 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/RCcomments.html">Robert's comments on the above</A>
<DT><A NAME=23 HREF="http://info.cern.ch/hypertext/WWW/Administration/DataModel.html">WWW Data Model</A>
<DD> June 92 -- provisional
<DT><A NAME=27 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/Function.html">WWW Function</A>
<DD> June 92 -- provisional
<DT><A NAME=22 HREF="http://info.cern.ch/hypertext/WWW/DesignIssues/ProtocolVersions.html#11">From Version to Version</A>
<DD> June 92 -- provisional for HTTP v2
<DT><A NAME=20 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/HTRQ.html">HTRQ definition</A>
<DD> May 92 -- provisional for HTTP v2
<DT><A NAME=13 HREF="http://info.cern.ch/hypertext/WWW/Protocols/HTTP/HTTP2.html">HTTP2 definition</A>
<DD> May 92 -- provisional
<DT><A NAME=14 HREF="http://info.cern.ch/hypertext/WWW/MarkUp/HTML2.html">HTML v2 definition</A>
<DD> May 92 -- provisional
<DT><A NAME=7 HREF="../Project/Coding.html">Coding Standards</A>
<DD> Introduced Oct 1991
<DT><A NAME=8 HREF="../Architecture/BrowserOverview.html">New architecture</A>
<DD> The browser architecure after the changes below.
<DT><A NAME=6 HREF="http://info.cern.ch/hypertext/WWW/Architecture/Browser.html">New architecture changes</A>
<DD> Architecure changes necessray in browser
Oct 91
<DT><A NAME=11 HREF="http://www1/Users/barker/hypertext/WWW/Daemon/Perf000.html">Performance of FIND server</A> 
<DD>29 May 91
<DT><A NAME=17 HREF="http://info.cern.ch/hypertext/WWW/Architecture/Letter_1.html">Letter Re: Still no DTD, huh?</A>
</DL>

<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL, RC, CTB, JFG</A></A>
</ADDRESS>