<TITLE>Guide -- /User</TITLE>
<NEXTID 21>
<H1>WWW Daemon user guide</H1>The http daemon, <A NAME=13 HREF="http://info.cern.ch/hypertext/WWW/Daemon/User/Installation.html">httpd</A> , is a general server program which runs a
w3 protocol, "<A NAME=15 HREF="../../Protocols/HTTP/AsImplemented.html"> HTTP</A> ".
<H2>More Information</H2>
<DL>
<DT><A NAME=9 HREF="http://info.cern.ch/hypertext/README.html">Distribution</A>
<DD> How to get the code.
<DT><A NAME=12 HREF="http://info.cern.ch/hypertext/WWW/Daemon/User/Compilation.html">Compilation</A>
<DD> How to compile the daemon for your system.
<DT><A NAME=20 HREF="http://info.cern.ch/hypertext/WWW/Daemon/User/Installation.html">Installation</A>
<DD>How to install a server under unix internet daemon
<DT><A NAME=commands HREF="http://info.cern.ch/hypertext/WWW/Daemon/User/CommandLine.html">Options</A>
<DD> Command line options at run time
<DT><A NAME=3 HREF="RuleFile.html">Rule File</A>
<DD> The format of a rule file. By default, /etc/httpd.conf
<DT><A NAME=14 HREF="http://info.cern.ch/hypertext/WWW/Daemon/User/Debugging.html">Debugging</A>
<DD> If it doesn't seem to work
<DT><A NAME=18 HREF="../Bugs.html">Known bugs</A>
<DD> and improvements desired
<DT><A NAME=19 HREF="../Features.html">History</A>
<DD> change list of improvements made and bug fixes.
</DL>

<H2>Note</H2>During the test phase of the WWW project, the port number to which
the daemon listens was 2784. W3 has officially allocated port number
80. Servers should use port 80 and advertise their address with the
explicit port number (i.e. http://host:80/etc...). Details of the
final changeover plan will be advertised on the www-announce<A NAME=11 HREF="http://info.cern.ch/hypertext/WWW/Administration/Mailing/Overview.html"> mailing
list</A> .<P>
Background: <A NAME=16 HREF="../../TheProject.html">The W3 project</A> , <A NAME=17 HREF="../Overview.html">Other servers</A> .<P>
_________________________________________________________________
<ADDRESS><A NAME=0 HREF="http://info.cern.ch/hypertext/TBL_Disclaimer.html">Tim BL</A>